body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    background-color:pink;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    color: red;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

#product-list, #cart-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;

}

.product-card, .cart-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
}
.product-card:hover{
    background-color: rgb(30, 27, 28);
    transition: 0.5s;
    color: rgb(229, 223, 223);
}
.product-card img, .cart-item img {
    max-width: 100%;
    height: auto;
}

.product-card h2, .cart-item h2 {
    font-size: 18px;
    margin: 10px 0;
}

.product-card p, .cart-item p {
    color: rgb(227, 224, 224);
    font-size: 16px;
}

.add-to-cart-btn {
    background-color: #1fb009;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

.add-to-cart-btn:hover {
    background-color: #241003;
}
/*  */
/* Add this to your existing styles.css */
#search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#search-bar {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#search-btn {
    padding: 10px 20px;
    background-color: #084492;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

#search-btn:hover {
    background-color: #181817;
}

.sa{
   margin-left: 200px;
}

.sa a{
    margin-left: 70px;

  
}

/*  */
.secondary-nav {
    margin-top:10px;
    background-color:black;
    padding: 10px;
    text-align: center;
    height: 2vh;
}

.secondary-nav p {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-top: -8px;
    
}
.container{
    margin-left: 200px;
    margin-right: 200px;
}
.rating{
    background-color:#1fb009;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
   border-radius: 15px;
   border: none;
   padding: 5px;
}
.discount{
    margin-right: 20px ;
    color:rgb(243, 8, 8);

}
.p{
    top: 20px;
}