*{
    margin: 0%;
    padding: 0%;
}
.menu{
    margin-top: 30px;
    margin-left: 10px;
}
.image{
    margin-top:5px;
    margin-left: 30px;
    
}
.ul{
    display: flex;
    justify-content: space-evenly;
    top: 20%;
    right: 5%;

}
.avatar{
    right: 20%;
    

}
.image1{
    padding: 30px;
    
    border-radius: 25px;
    width: 750px;
    height: 750px;
    

}