.login{
    background-color: pink;
    text-align: center;
 height: 100%;
 width: 100%;
}
.click{
}
.parent{
    border-bottom: 1px;
    padding: 10px;
}
.parent1{
    padding: 10px;

}
.an{
    padding: 10px;

}
.click{
    border: 10px;
    padding: 10px;
}
.an{
    text-decoration: none;
}
   