*{
    /* margin: 0; */
    /* padding: 0; */
}
img{
    width: 100%;
    height:100%; 


}
.grid{
    border: 1px ;
    display: grid;
    grid-template-columns: repeat(2,50%);

    
}


   
.child1{
    position:relative;
}
h1{
    top:5px;
    position: absolute;
    color: white;
    padding:10px 10px;
    left: 9px;
    }
    h2{
        top:85px;
        padding: 10px 10px;
        color: white;
        position: absolute;
        left: 50%;
    }
 ul{
    top:8px;
    padding: 3px;
    position: absolute;
    color: white;
    right: 2%;
    display: flex;
    list-style: none;
 } 
 li:hover{
    background-color: white;
    border-radius:2px;
    color: black;
    padding: 2px;
    border-radius: 8px;

 }  
 li{
    margin: 10px;
 }
 